<%layout("/layouts/boilerplate")%>
 <br>
 <br>
<div class="row">
        <div class="col-8 offset-2">
    <h3>Edit your listing</h3>
    <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class=" form-label">Title</label>
        <input name="title" value="<%=listing.title%>" type="text" class="form-control" required>
         <div class="valid-feedback">
          Title Looks good!
         </div>
         <div class="invalid-feedback">
          Please provide a valid Title.
         </div>
        
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <br>
             <textarea name="description" class="form-control" required><%- listing.description %></textarea>
             <div class="valid-feedback">
          description Looks good!
         </div>
         <div class="invalid-feedback">
          Please provide a valid Description.
         </div>
        </div>

         <div class="mb-3">
             <label for="image" class="form-label">Current Image</label>
             <img src="<%=originalUrl %>" alt="listing_image" style=" width: auto; display: block; margin-bottom: 1rem;">
             </div>
        <div class="mb-3">
             <label for="image" class="form-label">Upload Image</label>
             <input name="image" 
             type="file" 
             class="form-control" 
             required>
                <div class="valid-feedback">
          Image Looks good!
         </div>
         <div class="invalid-feedback">
          Please provide a valid Image.
         </div>
        </div>
          <div class="row">
            <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="price" value="<%=listing.price%>" type="number" class="form-control" required>
            <div class="valid-feedback">
          Price Looks good!
         </div>
         <div class="invalid-feedback">
          Please provide a valid Price.
         </div>
        </div>

        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input name="country" value="<%=listing.country%>" type="text" class="form-control" required>
            <div class="valid-feedback">
          Country Looks good!
         </div>
         <div class="invalid-feedback">
          Please provide a valid Country.
         </div>
        </div>
          </div>
        

        <div class="mb-3">
            <label for="city" class="form-label">Location</label>
            <input name="location" value="<%=listing.location%>" type="text" class="form-control" required>
            <div class="valid-feedback">
            Location looks good!
         </div>
         <div class="invalid-feedback">
          Please provide a valid location.
         </div>
        </div>
        <button class="btn btn-dark edit-btn mt-3">Edit</button>
    </form>
</div>
    </div>
